# If you simply want to build the application, you do not need to use this file

EXPO_PUBLIC_LOGS_SERVER=
EXPO_PUBLIC_BUILD_NAME=DEVELOPMENT

EXPO_PUBLIC_ADS_ENABLED=false
EXPO_PUBLIC_ADMOB_APP_ID=
EXPO_PUBLIC_BANNER_AD_ID=
