<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Register service -->
        <service android:name=".DailyWallpaperService" android:enabled="true" android:exported="true"
            android:foregroundServiceType="shortService" />
        <!-- Reboot receiver -->
        <receiver android:name=".RebootReceiver" android:enabled="true" android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
