@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 0%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 85%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 231 35% 45%;
        --accent-foreground: 231 100% 80%;
        --destructive: 0 72% 60%;
        --destructive-foreground: 0 72% 85%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

.font-bold {
    font-family: "DMSans_700", sans-serif;
    font-weight: 400;
}
.font-black {
    font-family: "DMSans_900", sans-serif;
    font-weight: 400;
}
.font-medium {
    font-family: "DMSans_500", sans-serif;
    font-weight: 400;
}
.font-semibold {
    font-family: "DMSans_600", sans-serif;
    font-weight: 400;
}
.font-normal {
    font-family: "DMSans_400", sans-serif;
    font-weight: 400;
}
.font-light {
    font-family: "DMSans_300", sans-serif;
    font-weight: 400;
}
.font-thin {
    font-family: "DMSans_200", sans-serif;
    font-weight: 400;
}
